Repository eclipse-platform/eclipse.platform.swt, pull requests merged in 2025-05, with the labels that each got.

#2093 Edge: Ensure #getText() works even when javascript is disabled
  bundles/org.eclipse.swt/Eclipse SWT Browser/win32/org/eclipse/swt/browser/Edge.java
  tests/org.eclipse.swt.tests/JUnit Tests/org/eclipse/swt/tests/junit/Test_org_eclipse_swt_browser_Browser.java
Labels: edge

#2144 Edge: Fix URI_FOR_CUSTOM_TEXT_PAGE in case of case mismatch
  bundles/org.eclipse.swt/Eclipse SWT Browser/win32/org/eclipse/swt/browser/Edge.java
  bundles/org.eclipse.swt/Eclipse SWT Tests/win32/org/eclipse/swt/browser/EdgeTests.java
Labels: edge

#2150 [GTK4] Stop Shell.bringToTop from crashing on Gtk 4.x
  bundles/org.eclipse.swt/Eclipse SWT/gtk/org/eclipse/swt/widgets/Shell.java
Labels: gtk4

#2142 Fit tooltip of the tree on a single monitor #62
  bundles/org.eclipse.swt/Eclipse SWT/win32/org/eclipse/swt/widgets/Tree.java
Labels: Windows
